<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>4</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetFramework>net10.0</TargetFramework>
    <TestAdapterPaths>.</TestAdapterPaths>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="environment" value="Development" />
    <Parameter name="browser" value="firefox" />
    <Parameter name="headless" value="false" />
    <Parameter name="timeout" value="15" />
  </TestRunParameters>

  <NLog>
    <logger name="*" minlevel="Debug" />
  </NLog>

  <Allure>
    <OutputPath>allure-results</OutputPath>
  </Allure>
</RunSettings>