<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">

  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message}${exception:format=message,stacktrace}" />

    <!-- File target -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/automation-${shortdate}.log"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message}${exception:format=message,stacktrace}"
            maxArchiveFiles="10"
            archiveNumbering="Rolling"
            archiveAboveSize="10485760" />

    <!-- Error file target -->
    <target xsi:type="File" name="errors"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message}${exception:format=@}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errors" />
  </rules>
</nlog>